<h2>All Figures</h2>

<ol>
  <% @figures.each do |figure| %>
    <li><a href="/figures/<%=figure.id%>"><%=figure.name%></a></li>
  <% end %>
</ol>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>